.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

#ignore config file
application/config/config.php

# ignore android_login folder
android_login/

# ignore assets/uploads folder
assets/uploads/

android_login/.log
android_login/config.php
android_login/config.php.zip
android_login/database_connect.php
android_login/DB_Connect.php
android_login/DB_Functons.php
android_login/error_log
android_login/error_log.backup
android_login/flutter_dbconnect_test.php
android_login/flutter_loginhome_test.php
android_login/getbay_test.php
android_login/getbay.php
android_login/getdata_test.php
android_login/getdata.php
android_login/loginhome_test.php
android_login/loginhome.php
android_login/search.php
android_login/upload.php
android_login/1/56f0db_99dd5d0ce4b248229f82bad13b9b2346.pdf
android_login/1/56f0db_99dd5d0ce4b248229f82bad13b9b23461.pdf
android_login/1/56f0db_99dd5d0ce4b248229f82bad13b9b23462.pdf
android_login/1/56f0db_99dd5d0ce4b248229f82bad13b9b23463.pdf
android_login/1/56f0db_99dd5d0ce4b248229f82bad13b9b23464.pdf
android_login/1/56f0db_99dd5d0ce4b248229f82bad13b9b23465.pdf
android_login/1/a_permenaker_02_1992_tata_cara_penunjukan_kewajiban_wewenang_ahli_k3.pdf
android_login/1/Alstom+Grid+-+Circuit+breaker+lifecycle+management-epslanguage=en-GB.pdf
android_login/1/file (2).pdf
android_login/1/internal+PMT+Areva+Alsthom+TD1+denai.pdf
android_login/1/Laporan+Gangguan+Paya+Geli+-+Binjai+1+(02-01-2018).pdf
android_login/1/lecture21.pdf
android_login/1/lecture211.pdf
android_login/1/lecture212.pdf
android_login/1/pdf baru [30].pdf
android_login/1/pdf+wiring+27-8_2017+[new+(revisi)].pdf
android_login/1/Schneider_Remote_Control_20_kV_dan_Outgoing_GI_Denai.pdf
android_login/1/WIRING_KUBIKEL_SCHNEIDER_TD3_GI_PERBAUNGAN.pdf
android_login/10/BAY+TRAFO+DAYA+2+30+MVA.pdf
android_login/10/KUBIKEL+20+KV+TD2+30+MVA.pdf
android_login/108/Wiring+Panel+Kontrol,+Relay+&+Switchyard+TD+1+Labuhan+(Schneider).pdf
android_login/109/TD++2+Labuhan+150+KV+SCHNEIDER.pdf
android_login/109/Wiring+BBVT+TD+2+Labuhan+(Schneider).pdf
android_login/109/Wiring+Bus+Riser+++DS+TD+2+Labuhan+(Schneider).pdf
android_login/11/BAY+TRAFO+DAYA+3+60+MVA.pdf
android_login/11/KUBIKEL+20+KV+TD3+60+MVA.pdf
android_login/12/BAY+PBUNG-TBING.pdf
android_login/121/SIEMENS_LAMHOTMA_TO_BELAWAN.pdf
android_login/127/DIAMETER+0+VOL+1.pdf
android_login/127/DIAMETER+0+VOL+2.pdf
android_login/13/BAY+PBUNG-SROTN.pdf
android_login/136/New+Doc+2018-04-10+(3)
android_login/137/New+Doc+2018-04-10
android_login/14/INC_dan_Outgoing_Siemens_Sei_Rotan.pdf
android_login/144/Wiring+Panel+Kontrol,+Relay+&+Switchyard+Paya+Pasir+-+Mabar+1+(Goldstar).pdf
android_login/145/Wiring+Panel+Kontrol,+Relay+&+Switchyard+Paya+Pasir+-+Mabar+2+(Goldstar).pdf
android_login/146/New+Doc+2018-04-22
android_login/147/P.+PSIR+-+P.+GELI.pdf
android_login/148/New+Doc+2018-04-22
android_login/149/New+Doc+2018-04-22
android_login/150/New+Doc+2018-04-22
android_login/151/P.+PSIR+-+SRTAN+2.pdf
android_login/152/New+Doc+2018-04-10+(1)
android_login/152/New+Doc+2018-04-10+(2)
android_login/153/Wiring+Diagram+PHT+LBHAN+BLWTU.pdf
android_login/153/Wiring+Diagram+PHT+LBHAN+BLWTU+(AD+DC+Panel).pdf
android_login/154/Wiring+Diagram+PHT+LBHAN+LHTMA.pdf
android_login/154/Wiring+Diagram+PHT+LBHAN+LHTMA+(AD+DC+Panel).pdf
android_login/155/INCOMING+&+OUTGOING+TD+3+KIM.pdf
android_login/155/TD+3+KIM.pdf
android_login/158/1-BLW_150_PWR_EM_13-1+Rev0+(20180410)+for+Contruction-1.pdf
android_login/158/DIAMETER+1+VOL+1.pdf
android_login/158/DIAMETER+1+VOL+2.pdf
android_login/158/DIAMETER+1+VOL+3.pdf
android_login/158/HAR_BLWAN_-_BHAN.pdf
android_login/159/New+Doc+2018-02-26.pdf
android_login/160/HAR_DIAMETER_3_BLAWAN.pdf
android_login/160/New+Doc+2018-04-07.pdf
android_login/163/HAR_DIAMETER_6_BLWAN.pdf
android_login/164/HAR_BLWAN_-_SROTN_1.pdf
android_login/165/DIAMETER+8+VOL+1+PMT+A8.pdf
android_login/166/DIAMETER+9+VOL+1+PMT+A9.pdf
android_login/169/DIAMETER+12+VOL+1+PMT+A12.pdf
android_login/169/DIAMETER+12+VOL+2+PMT+B12+&+AB12.pdf
android_login/173/WIRING+TRAFO+DAYA+2+HYOSUNG+30+MVA+GI+LAMHOTMA.pdf
android_login/174/Belawan+line.pdf
android_login/174/SIEMENS+LAMHOTMA+TO+BELAWAN.pdf
android_login/175/Labuhan+line+.pdf
android_login/178/Modifikasi+Dia+1.pdf
android_login/179/Modifikasi+Dia+2.pdf
android_login/180/wairing+150kv+Trafo+4+titikuning.pdf
android_login/182/Modifikasi+Dia+4.pdf
android_login/182/Schematic+Diagram+Diameter+4.pdf
android_login/185/wiring+td+3+20+kv.pdf
android_login/185/wiring+td+3+150+kv.pdf
android_login/187/KOPEL+BUS+KIM.pdf
android_login/188/HAR_DIAMETER_1_BINJAI.pdf
android_login/188/Schematic+Diagram+Diameter+1.pdf
android_login/189/HAR_DIAMETER_2_BINJAI.pdf
android_login/189/HAR_IBT_2_BNJAI.pdf
android_login/2/PMT_AREVA_TD_DENAI.pdf
android_login/2/WIRING+KUBIKEL+20+KV+SCHNEIDER+(DN+).pdf
android_login/200/wiring+common+service.pdf
android_login/207/SLN+AC+&+DC+LAMHOTMA.pdf
android_login/208/Kumpulan_Makalah_KBI_X_subtema_5_0.pdf
android_login/27/PMT_SPRECHER_ENERGIE.pdf
android_login/3/internal+PMT+Areva(+Alsthom+TD1+denai).pdf
android_login/3/PMT_AREVA_TD_DENAI.pdf
android_login/3/WIRING+GOLDSTAR+LAMA-1.pdf
android_login/3/WIRING+GOLDSTAR+LAMA.pdf
android_login/30/TD+1+MODALEK+TAMORA.pdf
android_login/30/Wiring+Panel+Kontrol,+Relay+&+Switchyard+TD+1+Tamora+(Goldstar).pdf
android_login/31/Approval+drawing+TRAFO+DAYA+2+GI+TAMORA.pdf
android_login/32/Wiring+Panel+Kontrol,+Relay+&+Switchyard+Tamora+-+Sei+Rotan+(Goldstar).pdf
android_login/33/Interconnection+wiring+diagram+GI+TAMORA+bay+(TM-SR)(TM-DN)(TD1).pdf
android_login/34/Mekanik+PMT+PHT+TM-KN+&+TM-GALANG.pdf
android_login/35/Mekanik+PMT+PHT+TM-KN+&+TM-GALANG.pdf
android_login/36/Interconnection+wiring+diagram+GI+TAMORA+Bay+line(TM-GALANG).pdf
android_login/37/Interconnection+wiring+diagram+GI+TAMORA+Bay+line(TM-GALANG).pdf
android_login/39/MastASPNETwithCSahrp.pdf
android_login/39/pdf+baru+[30].pdf
android_login/39/TD+1+BINJAI.pdf
android_login/4/Panel+ABB+Denai-Tamora.pdf
android_login/41/TD+3.pdf
android_login/42/HAR_BNJAI_-_PGELI_1.pdf
android_login/42/PGELI+1.pdf
android_login/43/PGELI+2.pdf
android_login/44/PBDAN+1.pdf
android_login/45/BNJ-BRANDAN_2_Arya_Sada_150_kV_Line_Bay.pdf
android_login/45/PBDAN+2.pdf
android_login/46/HAR_KOPEL_BUS_BINJAI.pdf
android_login/47/BLWCC+1.pdf
android_login/47/HAR_BNJAI_-_BLWAN_1.pdf
android_login/48/BLWCC+2.pdf
android_login/49/2023-10-14_TD1_PGELI.pdf
android_login/49/2023-10-14_TD1_PGELI1.pdf
android_login/49/2023-10-14_TD1_PGELI2.pdf
android_login/49/2023-10-14_TD1_PGELI3.pdf
android_login/49/2023-10-14_TD1_PGELI4.pdf
android_login/49/2023-10-14_TD1_PGELI5.pdf
android_login/49/2023-10-14_TD1_PGELI6.pdf
android_login/49/2023-10-14_TD1_PGELI7.pdf
android_login/49/2023-10-14_TD1_PGELI8.pdf
android_login/49/2023-10-14_TD1_PGELI9.pdf
android_login/49/2023-10-14_TD1_PGELI10.pdf
android_login/49/2023-10-14_TD1_PGELI11.pdf
android_login/49/2023-10-14_TD1_PGELI12.pdf
android_login/49/2023-10-14_TD1_PGELI13.pdf
android_login/49/2023-10-14_TD1_PGELI14.pdf
android_login/49/2023-10-14_TD1_PGELI15.pdf
android_login/5/AC+380+V+ACDB.pdf
android_login/5/Bay+Trafo.pdf
android_login/5/DC+48+VOLT+DCDB.pdf
android_login/5/DC+110+VOLT+DCDB.pdf
android_login/5/EM_DG_General_License_Conditions_Software_10_2015.pdf
android_login/5/INTERNAL+CB++3POLE++TRAFO.pdf
android_login/5/PANEL+KONTROL+20KV.pdf
android_login/5/pemeliharaan-la.pdf
android_login/5/TRANSFORMER+REGULATION+PANEL.pdf
android_login/54/TD+2+P.+BRNDN.pdf
android_login/55/SWD+K.BUS.pdf
android_login/56/GW1500190.PG019-PG020++MARSHALLING+KIOSK+FOR+LINE+BAY_BINJAI.pdf
android_login/57/BRANDAN_-_BINJAI_2_ARYA_SADA_PENGHANTAR.pdf
android_login/57/GW1500190.PG019-PG020++MARSHALLING+KIOSK+FOR+LINE+BAY_BINJAI.pdf
android_login/58/langsa+1.pdf
android_login/61/AREVA_BBVT_dan_ES.pdf
android_login/61/AREVA_Inc_20_kV.pdf
android_login/61/AREVA_Inc_20_kV1.pdf
android_login/61/AREVA_Outgoing_20_kV.pdf
android_login/63/P.GELI+-+GLGUR+1.pdf
android_login/64/P.GELI+-+GLGUR+2.pdf
android_login/66/P.+GELI+-+P.+PSIR+2.pdf
android_login/68/WIRING+ABB+PAYA+GELI+-+Binjai.pdf
android_login/7/EM_DG_General_License_Conditions_Software_10_2015.pdf
android_login/7/LINE+BAY.pdf
android_login/70/P.+GELI+-+NMBRE+2.pdf
android_login/71/REF610_TRM_755310_ENh_IEC.pdf
android_login/71/wiring+LCC+trafo+daya+-+1.pdf
android_login/71/wiring+td+1+150+kv.pdf
android_login/71/wiring+td+1+inc+20+kv.pdf
android_login/71/wiring+td+1+out+going+20+kv.pdf
android_login/72/wiring+LCC+trafo+daya+-+2.pdf
android_login/72/wiring+td+2+150+kv.pdf
android_login/72/wiring+td+2+kubikel+20+kv.pdf
android_login/73/wiring+bus+kopel+150+kv.pdf
android_login/74/wiring+LCC+UGC+-+1.pdf
android_login/74/wiring+ugc+-+1.pdf
android_login/75/wiring+ugc+-+2.pdf
android_login/76/WIIRING+RELAY+PANEL+KONTROL+150KV+GI+GLUGUR.pdf
android_login/76/WIRING+KONTROL+LCC+GIS+VOLUME++2+.pdf
android_login/76/WIRING+KUBIKEL+GU+(SIEMENS)_doc+2018-02-07.pdf
android_login/77/WIIRING+RELAY+PANEL+KONTROL+150KV+GI+GLUGUR.pdf
android_login/77/WIRING+KONTROL+LCC+GIS+VOLUME+4+.pdf
android_login/77/WIRING+KUBIKRL+GG+(SIEMENS)_Doc+2018-02-08.pdf
android_login/78/BAB_III_(_WIRING_BAY_TD-3_)_new_doc_2018-02-28_08.28_.34_20180228091414_.pdf
android_login/78/Lomba+Safety+Campaign+Bulan+K3+2018.pdf
android_login/78/WIRING+KUBIKEL+TD-3+GL+(+SCHNEIDER+).pdf
android_login/79/GL-PG_1_GOLDSTAR.pdf
android_login/79/WIIRING+RELAY+PANEL+KONTROL+150KV+GI+GLUGUR.pdf
android_login/8/HAR_KNAMU_-_TMORA_1.pdf
android_login/8/HAR_KNAMU_-_TMORA_2.pdf
android_login/80/WIIRING+RELAY+PANEL+KONTROL+150KV+GI+GLUGUR.pdf
android_login/81/WIIRING+RELAY+PANEL+KONTROL+150KV+GI+GLUGUR.pdf
android_login/82/E-Wiring+No.+04+(Sampul+Putih).pdf
android_login/82/Ewiring+outgoing+TD+2+dan+TD+3.pdf
android_login/83/E-Wiring+Aux+Trafo.pdf
android_login/83/E-Wiring+No.+04+(Sampul+Putih).pdf
android_login/83/Ewiring+BBVT.pdf
android_login/83/Ewiring+MA+4.pdf
android_login/83/Ewiring+outgoing+TD+2+dan+TD+3.pdf
android_login/84/E-Wiring+No.+04+(Sampul+Putih).pdf
android_login/85/E-Wiring+No.+09.pdf
android_login/86/E-Wiring+No.+04+(Sampul+Putih).pdf
android_login/86/internal+PMT+Areva(+Alsthom+TD1+denai).pdf
android_login/88/TD+2+Titi+Kuning+ASEA+1.pdf
android_login/88/TD+2+Titi+Kuning+ASEA+2.pdf
android_login/89/TD+3+Titi+Kuning+Pauwels.pdf
android_login/92/ENERGOINVEST_TK-SR1.pdf
android_login/92/Manual+ABB+LTB+170.pdf
android_login/foto_upt/aceh.png
android_login/foto_upt/bengkulu.png
android_login/foto_upt/jambi.png
android_login/foto_upt/medan.png
android_login/foto_upt/padang.png
android_login/foto_upt/palembang.png
android_login/foto_upt/pekanbaru.png
android_login/foto_upt/siantar.png
android_login/foto_upt/tanjungkarang.png
